1) created a datasets folder to store the cleaned dataset 
2) i used a virtual environment when i did coded on my com so can see if its excluded (i added it to the .gitignore alredy)
3) the anomaly detection models are under script cause i not sure how you wan the format to be in the ai_models file. but can easily convert when we ready